
<h3> Wecome to the BlackJack Game! </h3>

    <form action="/set_name" method="post" class="form-text" >
    <input type="text" name="player_name" class="input-medium" placeholder="Input your name">
    <button type="submit" class="btn">Submit</button>
    </form>